<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="utf-8">


</head>

<body>
{%include 'header.html'%}




    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-4 animated slideInDown mb-4">Quetion</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                   
                    <li class="breadcrumb-item active" aria-current="page">Quetion</li>
                </ol>
            </nav>
        </div>
    </div>
    
    <div class="container">
        <h1>Ask a Question</h1>
        {%if msg%}
            <span style="color:blue;">{{msg}}</span>
        {%endif%}
        <form action="{% url 'submit_question' %}" method="post">

            {% csrf_token %}
            <div class="mb-3">
                <label for="customer_name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="customer_name" value="{{user.name}}" disabled name="customer_name" required>
            </div>

            <div class="mb-3">
                <label for="question" class="form-label">Your Question</label>
                <textarea class="form-control" id="question" name="question" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Question</button>
        </form>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Serial Number</th>
                            <th scope="col">Message</th>
                            <th scope="col">Response</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in quetion %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.description }}</td>
                                <td>{{ i.admin_comment}}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        

{%include 'footer.html'%}
</body>

</html>